<template>
  <div>
    <h5>Áreas</h5>
    <tabs>
      <template v-slot:lista>

        <table class="highlight responsive-table card">
          <thead>
            <tr>
              <th>Encargado</th>
              <th>Departamento/Área</th>
              <th>Nro. Funcionarios</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="item in items">
              <td>{{ item.encargado }}</td>
              <td>{{ item.departamento }}</td>
              <td>{{ item.nro_funcionarios }}</td>
              <td>
                <router-link :to="'/area/' + item.id">
                  <i class="material-icons">create</i>
                </router-link>
                <i class="material-icons" style="color: red" @click="eliminarItem(item.id)">delete_forever</i>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
      <template v-slot:nuevo>
        <div class="row card p-2" style="max-width: 650px">
          <h6>Agregar Nuevo Registro</h6>
          <form class="col s12" @submit.prevent="saveArea()">
            <div class="row">
              <div class="input-field col s12">
                <input id="encargado" type="text" class="validate" v-model="payload.encargado"/>
                <label for="encargado">Encargado</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="nro_funcionarios" type="number" class="validate" v-model="payload.nro_funcionarios"/>
                <label for="nro_funcionarios">Nro. Funcionarios</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select v-model="payload.departamento">
                  <option value="" disabled selected>
                    Elija Departamento
                  </option>
                  <option value="Finanzas">
                    Finanzas
                  </option>
                  <option value="Legal">
                    Legal
                  </option>

                  <option value="Informatica">
                    Informatica
                  </option>

                  <option value="Recursos Humanos">
                    Recursos Humanos
                  </option>

                </select>
                <label>Departamento</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                  Registrar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </template>
    </tabs>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs.vue";
import FilterItem from "@/components/FilterItem.vue";
import FilterGroup from "@/components/FilterGroup.vue";
export default {
  name: "Area",
  data() {
    const api = process.env.VUE_APP_API;
    return {
      api,
      items: [],
      toFilter: "",
      payload: {
        nombre: "",
        edad: null,
        genero: null,
        direccion: null,
        telefono: null,
      },
    };
  },
  methods: {
    getItems() {
      this.axios({
        method: "get",
        url:
          this.api +
          "/areas" +
          this.toFilter,
      })
        .then((response) => {
          this.items = response.data;
          // console.log(this.items);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {});
    },

    saveArea() {
      this.axios({
        method: "post",
        url: this.api + "/areas",
        data: this.payload,
      }).then((response) => {
        this.payload = {
            encargado: "",
            nro_funcionarios: null,
            departamento: null,
        };
        setTimeout(function () {
          var elems = document.querySelectorAll("select");
          var select = M.FormSelect.init(elems);
        });
        alert("Registro Realizado Exitosamente");
        this.getItems();

        // console.log(response);
      });
    },

    eliminarItem(id) {
      if (confirm("Se va a eliminar el Registro")) {
        this.axios({
          method: "delete",
          url: this.api + "/areas/" + id,
        }).then((response) => {
          alert('Registro Eliminado Correctamente');
          this.getItems();
        });
      }
    },
  },
  mounted() {
    this.getItems();
  },
  components: {
    Tabs,
    FilterItem,
    FilterGroup,
  },
  created() {
    setTimeout(() => {
      var elems = document.querySelectorAll("select");
      var select = M.FormSelect.init(elems);
    });
  },
};
</script>

<style></style>