<template>
    <div>
        <h5>Editar Area </h5>
        <div class="row card p-2" style="max-width: 650px;">
            <form class="col s12" @submit.prevent="saveArea()">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="encargado" type="text" class="validate" v-model="payload.encargado" required>
                        <label for="encargado">Encargado</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select v-model="payload.departamento" required>
                            <option value="Finanzas">Finanza</option>
                            <option value="Legal">Legal</option>
                            <option value="Informatica">Informatica</option>
                            <option value="Recursos Humanos">Recursos Humanos</option>
                        </select>
                        <label>Departamento</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="nro_funcionarios" type="text" class="validate" v-model="payload.nro_funcionarios" required>
                        <label for="nro_funcionarios">Nro. Funcionarios</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Actualizar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
  
<script>

export default {
    name: 'PatientEditView',
    data() {
        const api = process.env.VUE_APP_API;
        return {
            api,
            payload: {
                
            }
        }
    },
    methods: {

        getItem() {
            this.axios({
                method: 'get',
                url: this.api + '/areas/'+this.$route.params.id
            })
                .then((response) => {
                    this.payload = response.data;
                    setTimeout(function () {
                        M.updateTextFields();
                    });
                    // console.log(this.payload);
                });
        },
        saveArea() {
            this.axios({
                method: 'patch',
                url: this.api + '/areas/'+this.$route.params.id,
                data: this.payload
            })
                .then((response) => {
                   this.$router.push('/area');

                    // console.log(response);
                });
        }
        
    },
    mounted() {
        this.getItem();
    },
    components: {
        
    },
    created() {
        setTimeout(() => {
            var elems = document.querySelectorAll('select');
            var select = M.FormSelect.init(elems);
        });
    }
}
</script>

<style scoped lang="scss">
i {
    cursor: pointer;
    margin-right: 10px;

}
</style>