<template>
  <div>
    <h5>Asignaciones</h5>

    <filter-group>
      <filter-item :items="estados" label="Filtro de Estados:" @onfilter="onFilterFx('estado', $event)"></filter-item>
    </filter-group>

    <tabs>
      <template v-slot:lista>
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Nro. Registro</th>
              <th>Area</th>
              <th>Tipo Activo</th>
              <th>Modelo</th>
              <th>Estado</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="item in items">
              <td>{{ item.id }}</td>
              <td>
                <span v-for="area in areas" > 
                  <strong v-if="area.id == item.areaId"> {{ area.departamento }} </strong>
                </span>
              </td>
              <td>{{ item.tipo_activo }}</td>
              <td>{{ item.modelo }}</td>
              <td>{{ item.estado }}</td>
              <td>
                <router-link :to="'/asignacion/' + item.id"><i class="material-icons">create</i></router-link>
                <i class="material-icons" style="color: red" @click="eliminarItem(item.id)">delete_forever</i>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
      <template v-slot:nuevo>
        <div class="row card p-2" style="max-width: 650px">
          <h6>Nuevo Registro:</h6>
          <form class="col s12" @submit.prevent="saveAsignacion()">
            <div class="row">
                <div class="input-field col s12">
                    <select v-model="payload.areaId" >
                        <option v-for="(value, key) in areas" :key="key" :value="value.id">{{ value.departamento }}
                        </option>
                    </select>
                    <label>Area</label>
                </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select v-model="payload.tipo_activo">
                  <option value="" disabled selected>
                    Tipo de Activo
                  </option>
                  <option value="Computadoras">
                    Computadoras
                  </option>

                  <option value="Muebles">
                    Muebles
                  </option>

                </select>
                <label>Tipo de Activo</label>
              </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input id="modelo" type="text" class="validate" v-model="payload.modelo"/>
                  <label for="modelo">Modelo</label>
                </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select v-model="payload.estado">
                  <option value="" disabled selected>
                    Estado
                  </option>
                  <option value="Bueno">
                    Bueno
                  </option>

                  <option value="Nuevo">
                    Nuevo
                  </option>

                </select>
                <label>Tipo de Activo</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                  Guardar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </template>
    </tabs>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs.vue";
import FilterGroup from "@/components/FilterGroup.vue";
import FilterItem from "@/components/FilterItem.vue";

export default {
  name: "Asignacion",
  data() {
    const api = process.env.VUE_APP_API;
    return {
      api,
      items: [],
      areas:[],
      asignaciones: [],
      estados:[{id:"Bueno",name:"Bueno"},{id:"Nuevo",name:"Nuevo"}],
      toFilter: "",
      payload: {
        areaId: null,
        tipo_activo: null,
        modelo: null,
        estado: null,
      },
    };
  },
  methods: {

    onFilterFx(field, event) {
      if (event === "") {
        this.toFilter = "";
      } else {
        this.toFilter = "?" + field + "=" + event;
      }
      this.getItems();
    },

    getItems() {
      this.axios({
        method: "get",
        url:
          this.api +
          "/asignaciones" +
          this.toFilter,
      })
        .then((response) => {
          this.items = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {});
    },

    getAreas() {
      this.axios({
        method: "get",
        url: this.api + "/areas/",
      })
        .then((response) => {
          this.areas = response.data;
          setTimeout(function () {
            var elems = document.querySelectorAll("select");
            var select = M.FormSelect.init(elems);
          });
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {});
    },

    getAsignaciones() {
      this.axios({
        method: "get",
        url: this.api + "/asignaciones",
      }).then((response) => {
        this.pacientes = response.data;
        setTimeout(function () {
          var elems = document.querySelectorAll("select");
          var select = M.FormSelect.init(elems);
        });
        console.log(response);
      });
    },
    saveAsignacion() {
      this.axios({
        method: "post",
        url: this.api + "/asignaciones",
        data: this.payload,
      }).then((response) => {
        this.payload = {
            areaId: null,
            tipo_activo: null,
            modelo: null,
            estado: null,
        };
        setTimeout(function () {
          var elems = document.querySelectorAll("select");
          var select = M.FormSelect.init(elems);
        });
        alert("Registro Realizado con Exito");
        this.getItems();

        // console.log(response);
      });
    },
    eliminarItem(id) {
      if (confirm("Esta seguro de eliminar?")) {
        this.axios({
          method: "delete",
          url: this.api + "/asignaciones/" + id,
        }).then((response) => {
          this.getItems();
        //   console.log(response);
        });
      }
    },
  },
  mounted() {
    this.getItems();
    this.getAreas();
    this.getAsignaciones();
  },
  components: {
    Tabs,
    FilterGroup,
    FilterItem,
  },
  created() {
    setTimeout(() => {
      var elems = document.querySelectorAll("select");
      var select = M.FormSelect.init(elems);
    });
  },
};
</script>

<style></style>
