<template>
  <div>
    <h5>Modificar Asignación: {{ $route.params.id }}</h5>
    <form class="col s12" @submit.prevent="saveAsignacion()">

      <div class="row">
        <div class="input-field col s12">
            <select v-model="payload.areaId" >
                <option v-for="(value, key) in areas" :key="key" :value="value.id">{{ value.departamento }}
                </option>
            </select>
            <label>Encargado</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="tipo_activo" type="text" class="validate" v-model="payload.tipo_activo"/>
          <label for="tipo_activo">Activo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="modelo" type="text" class="validate" v-model="payload.modelo"/>
          <label for="modelo">Modelo</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <select v-model="payload.estado" required>
                  <option value="Masculino">Bueno</option>
                  <option value="Femenino">Nuevo</option>
              </select>
              <label>Estado</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            Actualizar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "EditarAsignacion",
  data() {
    return {
      api: process.env.VUE_APP_API,
      areas: [],
      payload: {

      },
    };
  },
  methods: {
    getItem() {
      const id = this.$route.params.id;
      this.axios({
        method: "get",
        url: this.api + "/asignaciones/" + id,
      })
        .then((response) => {
          this.payload = response.data;
          this.getAreas(this.payload.areaId);
          setTimeout(function () {
            M.updateTextFields();
          });
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {});
    },
    getAreas() {
      this.axios({
        method: "get",
        url: this.api + "/areas/",
      })
        .then((response) => {
          this.areas = response.data;
          setTimeout(function () {
            var elems = document.querySelectorAll("select");
            var select = M.FormSelect.init(elems);
          });
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {});
    },
    saveAsignacion() {
      this.axios({
        method: "patch",
        url: this.api + "/asignaciones/" + this.$route.params.id,
        data: this.payload,
      })
        .then((response) => {
          this.pacientes = response.data;
          setTimeout(function () {
            var elems = document.querySelectorAll("select");
            var select = M.FormSelect.init(elems);
          });
          this.$router.push('/asignaciones');
        //   console.log(response);
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {});
    },
  },
  created() {
    this.getItem();
    this.getAreas();
  },
};
</script>
