<template>
  <div class="home">
    <HelloWorld msg="Proyecto Final Vue"/>
    - Luis Angel Quispe Limachi <br>
    - Alfredo Callizaya Gutierrez
  </div>
</template>

<script>
  import HelloWorld from '@/components/HelloWorld.vue'

  export default {
    name: 'HomeView',
    components: {
      HelloWorld
    }
  }
</script>
