<template>
  <div class="container">
    <nav>
      <div class="nav-wrapper">
          <span style="text-align: left;padding: auto;"><strong>F&F - SISTEMA DE INVENTARIO</strong></span>
        <ul class="right hide-on-med-and-down">

          <li><router-link to="/">INICIO</router-link></li>
          <li><router-link to="/area">AREAS</router-link></li>
          <li><router-link to="/asignaciones">ASIGNACIONES</router-link></li>
        </ul>
      </div>
    </nav>
    
    <router-view />
  </div>
</template>

<style lang="scss">
  #app {
    font-family: 'Kanit', sans-serif;

  }
</style>

<script>
export default {
  name: "AppView",
  data() {
    return {};
  },
  created() {
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems, {});
    });
  },
};
</script>
